<%- include('include/navbar.ejs')%>

<form action="/newPassword" method="POST">

    <label for="newPassword"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="newPassword" id="newPassword" required>
    <input type="hidden" name="userId" value="<%= userId%>">
    <input type="hidden" name="passwordToken" value="<%= passwordToken%>">

    <button type="submit" class="registerbtn">Submit</button>
</form>

<%- include('include/footer.ejs')%>