<%- include('include/navbar.ejs')%>

<!-- <h2>Index.....</h2> -->

<!-- <div class="cart"> -->
  
<form action="/signup" method="POST">
  <div class="container">
    <h1>Signup</h1>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" class="registerbtn">Signup</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="/">Login</a>.</p>
  </div>
</form>
<!-- </div> -->

<%- include('include/footer.ejs')%>